/* Footer Component */
.footer {
  background-color: var(--color-footer-bg);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0;
    gap: 20px;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 30px;
}
@media (max-width: 1320px) {
  .footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 10px;
}
.footer__contacts-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 32px;
  height: auto;
}
@media (max-width: 576px) {
  .footer__contacts-link-icon {
    width: 24px;
  }
}
.footer__contacts-link-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-white);
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
@media (max-width: 576px) {
  .footer__contacts-link-text {
    font-size: 16px;
  }
}
.footer__contacts-link:hover .footer__contacts-link-text {
  color: #ffb34a;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__social-link-icon {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform ease-out 0.4s;
  transition: -webkit-transform ease-out 0.4s;
  transition: transform ease-out 0.4s;
  transition: transform ease-out 0.4s, -webkit-transform ease-out 0.4s;
}
.footer__social-link:hover .footer__social-link-icon {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.footer__documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 30px;
}
@media (max-width: 1320px) {
  .footer__documents {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__documents {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__documents-link {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--color-white);
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
@media (max-width: 576px) {
  .footer__documents-link {
    font-size: 14px;
  }
}
.footer__documents-link:hover {
  color: #ffb34a;
}