.container {
  margin-bottom: 24px;
  margin-top: 24px;
  padding: 16px;
  background: var(--bg-primary);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.filters {
  width: 100%;
}

.search {
  min-width: 300px;
}

.select {
  min-width: 180px;
}

@media (max-width: 768px) {
  .search {
    min-width: 100%;
  }

  .select {
    min-width: 100%;
  }
}
