
.compactModal {
  
}

.compactModal .ant-modal-body {
  padding: 16px 20px 8px 20px;
  min-height: auto;
}

.compactModal .ant-modal-footer {
  padding: 8px 20px 16px 20px;
  margin-top: 0;
  border-top: 1px solid #f0f0f0;
}

.compactModal .ant-form {
  margin: 0;
}

.compactModal .ant-form-item {
  margin-bottom: 8px;
}

.compactModal .ant-form-item:last-child {
  margin-bottom: 0;
}

.compactModal .ant-form-item-label {
  padding-bottom: 4px;
}

.compactModal .ant-form-item-label > label {
  height: auto;
}

.compactModal .ant-form-item-control {
  margin-bottom: 0;
}

.compactModal .ant-form-item-control-input {
  min-height: auto;
}


@media screen and (max-width: 840px) {
  .compactModal .ant-modal-body {
    padding: 4px 16px 2px 16px;
    min-height: auto;
    height: auto;
  }
  
  .compactModal .ant-modal-footer {
    padding: 4px 16px 8px 16px;
    margin-top: 0;
  }
  
  .compactModal .ant-form {
    margin: 0;
    padding: 0;
  }
  
  .compactModal .ant-form-item {
    margin-bottom: 2px;
  }
  
  .compactModal .ant-form-item:last-child {
    margin-bottom: 0;
  }
  
  .compactModal .ant-form-item-label {
    padding-bottom: 2px;
    margin-bottom: 2px;
  }
  
  .compactModal .ant-form-item-control {
    margin-bottom: 0;
  }
  
  .compactModal .ant-form-item-control-input {
    min-height: auto;
  }
}
