.expertContentContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.expertContentContainer :global(.ant-tabs-tab) {
  font-family: 'Jost-SemiBold', sans-serif;
  font-size: 20px;
}

.expertContentContainer :global(.ant-tabs-tab-btn) {
  font-family: 'Jost-SemiBold', sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  .expertContentContainer {
    width: 100%;
    max-width: 100%;
    padding: 16px; 
  }
}
