/* Стили для ShopReadyWorks */

.layout {
  min-height: 100vh;
}

.mainLayout {
  margin-left: 260px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: margin-left 0.3s;
}

.content {
  margin: 24px;
  padding: 24px 24px 24px 40px;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  min-height: calc(100vh - 112px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-left: -20px;
  background-color: white;
}

.title {
  color: #1f2937;
  font-weight: 600;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .mainLayout {
    margin-left: 0;
  }

  .content {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
}
