/* Base Reset Styles */

html {
  font-size: 16px;
  font-family: var(--font-family-sans);
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: auto;
  color: var(--color-grey-900);
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: var(--font-family-sans);
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}