.ant-avatar.support-avatar {
  background: transparent;
  border: none;
  box-shadow: none;
}

.ant-avatar.support-avatar img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  display: block;
  margin: auto;
}
