


.expert-page {
  background-color: #f0f2f5;
}

.expert-page .first-screen__wrapper,
.partner-page .first-screen__wrapper {
  overflow: visible;
}

.expert-page .first-screen__figure,
.partner-page .first-screen__figure {
  overflow: visible;
  position: fixed;
  top: 110px;
  left: 50%;
  right: auto;
  bottom: 0;
  z-index: 500;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0;
  margin-left: 0px;
  width: 50vw;
}

.expert-page .first-screen__figure-image,
.partner-page .first-screen__figure-image {
  display: block;
  max-width: none;
  width: auto;
  height: calc(100vh - 110px);
  object-fit: contain;
  object-position: left bottom;
}


@media (max-width: 1320px) and (min-width: 1025px) {
  .expert-page .first-screen__figure,
  .partner-page .first-screen__figure {
    top: 80px;
    margin-left: 50px;
  }
  
  .expert-page .first-screen__figure-image,
  .partner-page .first-screen__figure-image {
    height: calc(100vh - 80px);
  }
}


@media (max-width: 1315px) and (min-width: 1025px) {
    .expert-page .first-screen__figure,
    .partner-page .first-screen__figure {
        width: 45vw;
    }
}


@media (max-width: 1024px) {
  .expert-page .first-screen__figure,
  .partner-page .first-screen__figure {
    position: static;
    overflow: visible;
    justify-content: center;
    left: auto;
    right: auto;
    top: auto;
    width: 100%;
    margin-left: 0;
    padding: 0 20px; 
  }
  
  .expert-page .first-screen__figure-image,
  .partner-page .first-screen__figure-image {
    max-width: 100%;
    width: 100%; 
    height: auto;
    object-fit: contain;
    object-position: center;
  }
}


@media (max-width: 576px) {
  .expert-page .first-screen__figure,
  .partner-page .first-screen__figure {
    padding: 0 15px; 
  }

  .expert-page .first-screen__figure-image,
  .partner-page .first-screen__figure-image {
    width: 100%;
  }
}

