.individualOfferTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}
.individualOfferTitle {
  margin: 0;
}
.individualOfferBody {
  padding: 0 0 20px;
}
.individualOfferText {
  display: block;
  margin-bottom: 16px;
}
.individualOfferTextCompact {
  display: block;
  margin-bottom: 4px;
}
.individualOfferSubmitItem {
  margin-bottom: 0;
  text-align: center;
  margin-top: 24px;
}
.individualOfferSubmitButton {
  background: #10B981;
  border-color: #10B981;
  height: 48px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
}
