


.modal-with-sidebar {
  left: calc(50% + 125px);
  transform: translateX(-50%);
}


@media (max-width: 1024px) {
  .modal-with-sidebar {
    left: calc(50% + 100px);
  }
}


@media (max-width: 768px) {
  .modal-with-sidebar {
    left: 50%;
  }
}

@media (max-width: 480px) {
  .modal-with-sidebar {
    left: 0;
    transform: none;
  }
}

