


.modal-with-sidebar .ant-modal {
  left: 50%;
  transform: translateX(-50%);
}


.notifications-modal,
.messages-modal,
.faq-modal,
.finance-modal,
.arbitration-modal,
.friends-modal {
  left: 50%;
  transform: translateX(-50%);
}


@media (max-width: 1024px) and (min-width: 769px) {
  .modal-with-sidebar .ant-modal,
  .notifications-modal,
  .messages-modal,
  .faq-modal,
  .finance-modal,
  .arbitration-modal,
  .friends-modal {
    left: 50%;
  }
}


@media (max-width: 768px) {
  .modal-with-sidebar .ant-modal,
  .notifications-modal,
  .messages-modal,
  .faq-modal,
  .finance-modal,
  .arbitration-modal,
  .friends-modal {
    left: 50%;
    transform: translateX(-50%);
  }
}


@media (max-width: 480px) {
  .modal-with-sidebar .ant-modal,
  .notifications-modal,
  .messages-modal,
  .faq-modal,
  .finance-modal,
  .arbitration-modal,
  .friends-modal {
    left: 0;
    right: 0;
    transform: none;
    margin: 0 auto;
  }
}
