.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 24px 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 8px 4px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 4px 2px;
  }
}
